img {
  height: 200px;
  border-radius: 45%;
}
p,
h2,
a {
  color: black;
  font-size: 16px;
}
p {
  color: chartreuse;
}
#navbar {
  background-color: #ededed;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1;
  top: 0;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.right {
  display: flex;
  align-items: center;
  gap: 8rem;
}
.right > div {
  display: flex;
  gap: 20px;
}
.navlink {
  color: black;
  text-decoration: none;
  cursor: url("./image/target-scope.png"), pointer;
  margin-left: 10px;
  text-transform: capitalize;
}
.navlink:hover {
  text-decoration: underline;
  font-weight: 600;
}
body {
  margin: 0px;
  cursor: url("./image/target-scope.png"), auto;
}
#estimate {
  border: 1px solid black;
  border-radius: 20px;
  color: #fd4601;
  background-color: #ededed;
  padding: 10px 18px;
  text-transform: capitalize;
  font-weight: 600;
  cursor: url("./image/target-scope.png"), auto;
}
/* descendant combinator */
/* / .box {
  color: red;
}
/*.box h2 {
  color: #fd4601;
} */
/* child combinator */
.box > p {
  color: blue;
}
.box + p {
  color: green;
  font-size: 30px;
}
#estimate:hover {
  background-color: black;
  color: #ededed;
}
#text {
  text-align: end;
  line-height: 40px;
  word-spacing: 10px;
  letter-spacing: 5px;
}
.box1 {
  background-color: red;
  height: 3rem;
  width: 3rem;
  /* display: inline-block; */
}
.box2 {
  background-color: yellow;
  height: 3rem;
  width: 3rem;

  /* display: inline-block; */
}
.box3 {
  background-color: blue;
  height: 7rem;
  width: 3rem;
  /* display: inline-block; */
}
.flexbox {
  background-color: green;
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-wrap: nowrap;
  width: 30vw;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flexbox1 {
  display: flex;
  flex-direction: column;
  background-color: purple;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
.position {
  height: 100vh;
  width: 100vw;
  background-color: darkolivegreen;
  position: relative;
}
.boxed {
  background-color: #fd4601;
  height: 100px;
  width: 100px;
  position: relative;
  left: 10rem;
  top: 20rem;
  bottom: 10%;
}
.absolute {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
  top: 20%;
  right: 0;
  left: 50%;
}
.fixed {
  height: 100px;
  width: 100px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 60;
}
.sticky {
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: sticky;
  top: 50px;
  z-index: 20;
}
